#logo {
	width:10vw;
	position: absolute;
	 box-shadow: 3px 6px #000000; 
	   -moz-box-shadow:    3px 3px 5px 6px #373d3a;
  -webkit-box-shadow: 3px 3px 5px 6px #373d3a;
  box-shadow:         3px 3px 5px 6px #373d3a;
}
body {
  background-image: url("../img/achtergrond.jpg");
  background-repeat: repeat;
}
#flex-container {
display: flex;
flex-direction: row;
padding-top: 175px;
padding-left: calc(50% - 680px);
}
.flex-item {
	width: 25vw;
	max-height: 500px;
	min-width: 500px;
	padding-left: 100px;

}
